In [ ]:
print("Hello world")

Hello world

# Print in Python

## Normal print

In [ ]:
print(123)

123

## Print with Veriable

In [6]:
age=32
print("my age is :", age)

my age is : 32

## Print with "f string"

In [9]:

print(f"my age is :{age}")

my age is :32

## Print with "format()"

In [12]:

name='shubham'
print("my name {} and my age is {}".format(name,age))

my name shubham and my age is 32

## format() with placeholder

In [14]:

print("my name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

my name is shubham and my age is 32

In [17]:
print("mange,apple")

mange,apple

# Learn If, Elif and Else

## if statement

In [1]:

age =18
if age >=18:
    print("You are eligible for vote")

You are eligible for vote

In [8]:

a=int(input("Enter the age"))

Enter the age 32

In [9]:
type(a)

int

## Use of if else

In [15]:
age=int(input("enter the age"))
if age>=18 and age<=32:
    print("you are young blood")
else:
    print("Theank you we will let you know")

enter the age 17

Theank you we will let you know

In [24]:
price=int(input("product price"))
if price > 1000:
    print(f"price of the product :{price*0.8}")
else:
    print(f"price of the product :{price*0.7}")

product price 500

price of the product :350.0

## Use of if, elif and else

In [1]:
price=int(input("product price"))
if price > 3000:
    if price==4000:
        print("you win trip")
    print(f"price of the product :{price*0.8}")
elif price==2999:
    print("congratulations you get gift")
elif 2000<=price<=3000:
    print(f"price of the product :{price*0.7}")
elif 100<=price<2000:
    print(f"price of the product :{price*0.7}")
else:
    print(f"price of the product :{price}")

product price 4000

you win trip
price of the product :3200.0

In [2]:
## Single statement
if price==4000:print("you win trip")

you win trip