#### Q1. What is a database? Differentiate between SQL and NoSQL databases.
##### Ans.
A database is a collection of data that is organized and stored in a structured way so that it can be easily accessed, managed, and updated.

SQL (Structured Query Language) databases are relational databases that store data in tables with pre-defined schemas. They use SQL to manipulate and retrieve data, and are known for their consistency and reliability.

NoSQL (Not only SQL) databases are non-relational databases that store data in various formats, such as key-value, document-based, graph-based, or column-family. They are highly scalable and flexible, and are well-suited for handling large volumes of unstructured data. They do not rely on pre-defined schemas, allowing for greater flexibility and easier scaling.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
##### Ans.
DDL (Data Definition Language) is a subset of SQL that is used to define the structure of a database, including creating, modifying, and deleting database objects such as tables, indexes, and constraints.

Here are some examples of how the DDL commands CREATE, DROP, ALTER, and TRUNCATE are used:

1. CREATE: This command is used to create a new database object, such as a table, view, or index. For example, to create a new table called customers with columns for id, name, and email, you would use the following SQL statement:

In [ ]:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  email VARCHAR(255)
);

2. DROP: This command is used to delete an existing database object. For example, to delete the customers table, you would use the following SQL statement:

In [ ]:
DROP TABLE customers;

3. ALTER: This command is used to modify the structure of an existing database object, such as adding or removing columns from a table. For example, to add a new column called phone to the customers table, you would use the following SQL statement:

In [ ]:
ALTER TABLE customers ADD COLUMN phone VARCHAR(255);

4. TRUNCATE: This command is used to remove all data from an existing table, but keep the table structure intact. For example, to remove all data from the customers table, you would use the following SQL statement:

In [ ]:
TRUNCATE TABLE customers;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
##### Ans.
DML (Data Manipulation Language) is a subset of SQL that is used to manipulate data within a database. The three most common DML commands are INSERT, UPDATE, and DELETE.

Here are some examples of how these DML commands are used:

1. INSERT: This command is used to insert new data into a table. For example, to insert a new record into the customers table with a name of "John", an age of 30, and an email of "john@example.com", you would use the following SQL statement:

In [ ]:
INSERT INTO customers (name, age, email)
VALUES ('John', 30, 'john@example.com');

2. UPDATE: This command is used to update existing data in a table. For example, to update the email of the record with an id of 1 to "newemail@example.com", you would use the following SQL statement:

In [ ]:
UPDATE customers
SET email = 'newemail@example.com'
WHERE id = 1;

3. DELETE: This command is used to delete data from a table. For example, to delete the record with an id of 1 from the customers table, you would use the following SQL statement:

In [ ]:
DELETE FROM customers
WHERE id = 1;

These DML commands are essential for manipulating data within a database. They allow you to insert, update, and delete data, helping you to manage and maintain your data effectively.

#### Q4. What is DQL? Explain SELECT with an example.

##### Ans.
DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. The most common DQL command is SELECT.

Here's an example of how the SELECT command is used:

Suppose you have a table called employees that contains the following columns: id, name, age, salary, and department.

To retrieve all columns from the employees table, you would use the following SQL statement:

In [ ]:
SELECT name, salary FROM employees;

You can also use conditions in the SELECT statement to filter the results. For example, to retrieve only the records where the age column is greater than 30, you would use the following SQL statement:

In [ ]:
SELECT * FROM employees
WHERE age > 30;

The SELECT command is essential for retrieving data from a database. It allows you to retrieve specific columns, apply conditions to filter results, and join multiple tables to create more complex queries.

#### Q5. Explain Primary Key and Foreign Key.
##### Ans.
A **primary key** is a column or combination of columns in a table that uniquely identifies each row in the table. The primary key constraint ensures that the values in the primary key column(s) are unique and not null. This makes it easier to locate and modify specific rows in the table. For example, in a table of customers, the primary key could be the customer_id column, which would ensure that each customer has a unique identifier.

A **foreign key** is a column or combination of columns in one table that refers to the primary key column(s) in another table. This establishes a relationship between the two tables and allows data to be linked together across tables. For example, in a table of orders, the customer_id column could be a foreign key that refers to the customer_id column in the customers table, linking each order to a specific customer. This ensures referential integrity between the tables, meaning that data in one table is always consistent with data in another table.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the result set
result = mycursor.fetchall()

# Print the result set
for row in result:
  print(row)

we first import the mysql.connector module and use it to connect to the database. We then create a cursor object using the **cursor()** method of the database connection. The cursor object is used to execute SQL queries and fetch results from the database.

The **execute()** method of the cursor object is used to execute SQL queries. It takes an SQL query as its argument and executes it on the database. In the example code above, we execute a SELECT query to retrieve all records from the customers table.

#### Q7. Give the order of execution of SQL clauses in an SQL query.
##### Ans.
The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: The FROM clause specifies the tables from which data is to be retrieved.

2. JOIN: The JOIN clause is used to combine data from two or more tables based on a related column between them.

3. WHERE: The WHERE clause is used to filter rows based on a specific condition.

4. GROUP BY: The GROUP BY clause is used to group rows that have the same values in a specified column.

5. HAVING: The HAVING clause is used to filter groups based on a specific condition.

6. SELECT: The SELECT clause specifies the columns that are to be retrieved from the table(s).

7. DISTINCT: The DISTINCT clause is used to retrieve only unique values of a column.

8. ORDER BY: The ORDER BY clause is used to sort the result set by one or more columns.

9. LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.