#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?
##### Ans. 
MongoDB is a NoSQL document-oriented database that is designed for high scalability, performance, and flexibility. It is an open-source database that stores data in a flexible, JSON-like document format that allows for easy retrieval and manipulation of data.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional relational model used by SQL databases. Instead, NoSQL databases use various data models such as document-based, key-value, graph-based, and column-family models to store and manage data. NoSQL databases are designed to handle large volumes of unstructured and semi-structured data, and they are highly scalable and flexible.

MongoDB is a popular NoSQL database that is preferred over SQL databases in scenarios that require high read and write throughput, big data and analytics, mobile applications, and the Internet of Things.

#### Q2. State and Explain the features of MongoDB.
##### Ans.
MongoDB is popular NoSQL document oriented database that offers several following features to manipulated data

- Document-oriented: MongoDB stores data in a flexible, JSON-like document format that allows for easy retrieval and manipulation of data.

- Scalability: MongoDB is designed to scale horizontally by adding more nodes to a cluster, allowing for high availability and reliability.

- Indexing: MongoDB supports multiple indexing options that help to optimize queries and improve performance.

- Querying: MongoDB offers a rich query language that supports a wide range of query operations and provides powerful aggregation and data processing capabilities.

- Aggregation: MongoDB offers a powerful aggregation framework that allows for complex data processing and analysis.

- Sharding: MongoDB offers built-in support for sharding, which allows for distributing data across multiple nodes and handling large volumes of data.

- Replication: MongoDB offers built-in replication, which allows for creating multiple copies of data across multiple nodes to ensure high availability and data durability.

- Ad-hoc queries: MongoDB allows for ad-hoc queries, meaning that queries can be performed on any field without the need for pre-defined schema or structure.

- Schemaless: MongoDB is schemaless, meaning that there is no pre-defined schema or structure, allowing for flexibility and ease of use.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
##### Ans.

In [7]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.xkuofnq.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [84]:
mydb = client['mydatabase']
mycoll = mydb['mycollection']

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.
##### Ans.

In [102]:
data={
        'first name':'shubham',
        'last name':'verma',
        'email':'shubham@gmail.com'
}
mycoll.insert_one(data)
for i in mycoll.find():
    print(i)

{'_id': ObjectId('641447917c53d9691cd93ac1'), 'first name': 'shubham', 'last name': 'verma', 'email': 'shubham@gmail.com'}

In [105]:
datas = [
    {"name": "Alice", "age": 25, "city": "Los Angeles"},
    {"name": "Bob", "age": 35, "city": "San Francisco"},
    {"name": "Charlie", "age": 40, "city": "Seattle"},
     {"name": "Bob", "age": 36, "city": "Los Angeles"}
]
mycoll.insert_many(datas)

In [108]:
# find first appear single document from the database.
print(mycoll.find_one({'name':'Bob'}))

{'_id': ObjectId('641447b57c53d9691cd93ac3'), 'name': 'Bob', 'age': 35, 'city': 'San Francisco'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.
##### Ans.
we create a query document that specifies a regular expression to match documents where the **age** field greatr then 30. We pass this query document as a parameter to the find() method to retrieve the matching documents. Finally, we iterate over the results and print each document

In [116]:
query={'age':{'$gt':30}}

In [117]:
for i in mycoll.find(query):
    print(i)

{'_id': ObjectId('641447b57c53d9691cd93ac3'), 'name': 'Bob', 'age': 35, 'city': 'San Francisco'}
{'_id': ObjectId('641447b57c53d9691cd93ac4'), 'name': 'Charlie', 'age': 40, 'city': 'Seattle'}
{'_id': ObjectId('641447b57c53d9691cd93ac5'), 'name': 'Bob', 'age': 36, 'city': 'Los Angeles'}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
##### Ans.
sort() method used in MongoDB to sort the query in ascending or descending orders based on one or more field.

In [126]:
print('sort query in ascending order of age')
for i in mycoll.find().sort('age', pymongo.ASCENDING):
    print(i)
    
print('\nsort query in descending order of age')
for i in mycoll.find().sort('age', pymongo.DESCENDING):
    print(i)

sort query in ascending order of age
{'_id': ObjectId('641447b57c53d9691cd93ac2'), 'name': 'Alice', 'age': 25, 'city': 'Los Angeles'}
{'_id': ObjectId('641447b57c53d9691cd93ac3'), 'name': 'Bob', 'age': 35, 'city': 'San Francisco'}
{'_id': ObjectId('641447b57c53d9691cd93ac5'), 'name': 'Bob', 'age': 36, 'city': 'Los Angeles'}
{'_id': ObjectId('641447b57c53d9691cd93ac4'), 'name': 'Charlie', 'age': 40, 'city': 'Seattle'}

sort query in descending order of age
{'_id': ObjectId('641447b57c53d9691cd93ac4'), 'name': 'Charlie', 'age': 40, 'city': 'Seattle'}
{'_id': ObjectId('641447b57c53d9691cd93ac5'), 'name': 'Bob', 'age': 36, 'city': 'Los Angeles'}
{'_id': ObjectId('641447b57c53d9691cd93ac3'), 'name': 'Bob', 'age': 35, 'city': 'San Francisco'}
{'_id': ObjectId('641447b57c53d9691cd93ac2'), 'name': 'Alice', 'age': 25, 'city': 'Los Angeles'}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.
##### Ans.
- delete_one(): This method is used to delete a single document that matches a specified filter. If there are multiple documents that match the filter, only the first one will be deleted.

- delete_many(): This method is used to delete all the documents that match a specified filter.

- drop(): This method is used to drop an entire collection, including all its documents.

In [130]:
# delete_one example
mycoll.delete_one({'name':'Bob'})
for i in mycoll.find():
    print(i)

{'_id': ObjectId('641447b57c53d9691cd93ac2'), 'name': 'Alice', 'age': 25, 'city': 'Los Angeles'}
{'_id': ObjectId('641447b57c53d9691cd93ac4'), 'name': 'Charlie', 'age': 40, 'city': 'Seattle'}
{'_id': ObjectId('641447b57c53d9691cd93ac5'), 'name': 'Bob', 'age': 36, 'city': 'Los Angeles'}

In [132]:
# delete_many Example
mycoll.delete_many({'age':{'$gt':30}})
for i in mycoll.find():
    print(i)

{'_id': ObjectId('641447b57c53d9691cd93ac2'), 'name': 'Alice', 'age': 25, 'city': 'Los Angeles'}

In [133]:
mycoll.drop()